.dy_page {
	display: none;
	min-height: 90vh;
}
#nav_fname {
	max-width: 170px;
	white-space: nowrap;
}
.user_data_label {
	margin-top: 8px;
}
#order_checkout>.row>.col>table>tbody>tr>td> #size {
	width: 183px!important;
}
#edit_dsn {
	position:absolute;
	z-index:9;
	background-color: rgba(255, 255, 255, 0.5);
}
.drag-target {
	z-index: 1;
}
#sidenav-overlay {
	background-color: rgba(255, 255, 255, 0);
}
nav ul li:hover {
	background-color: #fff;
}
#cart_count {
	position: absolute; 
	right: -10px; 
	width: 25px; 
	height: 25px; 
	line-height: 25px; 
	top: -8px; 
	backface-visibility: hidden; 
	background-clip: content-box; 
	outline: 1px solid transparent; 
	border-radius: 12.5px;
}
/* Design nave bar */
	nav .logo {
	    position: absolute;
	    color: #000;
	    display: inline-block;
	    font-size: 2.1rem;
	    padding: 0px;
	    margin-left: 100px; 
	}
	.logo img {
		height: 40px;
		float: left;
		margin-top: 12px;
		margin-right: 15px;
	}
	.desn_bar, #acc_profile a {
		margin-right: 20px;
	}

/* Dsn Studio */
	#desn_studio .canv_item {
		width: 302px;
		max-width: 100vw;
		height: 403px;
		z-index: 1;
	}
	#desn_studio .play_bd img{
		background-color: rgba(255, 255, 255, 0.65);
	}
	#desn_studio .brush_on{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 302px;
		max-width: 100vw;
		height: 403px;
		left: 50%;
		-webkit-transform: translateX(-50%);
	      -moz-transform: translateX(-50%);
	      -ms-transform: translateX(-50%);
	      -o-transform: translateX(-50%);
	      transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 9;
	}
	#desn_studio .canv_item img{
		position: absolute;
		width: 302px;
		max-width: 100vw;
		left: 50%;
		-webkit-transform: translateX(-50%);
	      -moz-transform: translateX(-50%);
	      -ms-transform: translateX(-50%);
	      -o-transform: translateX(-50%);
	      transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#desn_studio .canv_item_list {
		position: relative;
		width: 302px;
		height: 150px;
		overflow: hidden;
		margin-left: 45%;
		-webkit-transform: translateX(-50%);
	      -moz-transform: translateX(-50%);
	      -ms-transform: translateX(-50%);
	      -o-transform: translateX(-50%);
	      transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#desn_studio .canv_item_list>div {
		height: 120px;
		width: 120px;
		float: left;
		margin: 5px;
	}
	#desn_studio .canv_item_list>div>img {
		position: absolute; 
		height: 120px;
	}
	#desn_studio .row {
		/*margin-top: 30px;*/
	}
	#dsn_side_bar .tab a, #desn_studio .tab a{
		background-color: #F5F5F5;
		color: #a5a5a5 !important;
	}
	#dsn_side_bar .tab a.active, #desn_studio .tab a.active {
		background-color: #fff;
		color: #000 !important;
	}
	#dsn_side_bar .indicator, #desn_studio .indicator {
		height: 0px !important;
	}
	#dsn_side_bar .col_pal, #desn_studio .col_pal {
		padding: 0px 5px;
	}
	#dsn_side_bar .col_pal>div, #desn_studio .col_pal>div{
		display: inline-table;
		height: 30px;
		width: 30px;
		border: 2px solid #f5f5f5;
	    border-radius: 15px;
		float: left;
		margin-right: 7px;
		margin-bottom: 14px;
	}
	#dsn_side_bar .desn_list, #desn_studio .desn_list{
		padding: 10px;
		max-height: 247px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	#dsn_side_bar .desn_list>div, #desn_studio .desn_list>div {
		width: 70px;
		height: 70px;
		margin-left: 7px;
		margin-right: 7px;
		margin-bottom: 14px;
		background: #f5f5f5;
		float: left;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	a {
		text-transform: none !important;
	}
	#desn_studio .desn_contner {
		position: absolute;
		top: 26%;
		right: 26%;
		width: 150px;
		height: 150px;
		/*border: 1px dashed #b00;*/
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	.side-nav li:hover, .side-nav li.active {
	    background-color: #000;
	}
	.dy_page:not(#desn_studio) {
		margin-left: 70px;
	}

/* Profile and Saved items */
	.saved_dsns>.col{
		position: relative !important; 
		overflow: hidden !important;
		margin-top: 10px;
	}
	.saved_dsns .canv_item {
		width: 302px;
		max-width: 100vw;
		height: 401px;
		z-index: 1;
	}
	.saved_dsns .canv_item img{
		background-color: rgba(255, 255, 255, 0.65);
	}
	
	.saved_dsns .canv_item img{
		position: absolute;
		width: 302px;
		max-width: 100vw;
		left: 0px;		
	}
	.saved_dsns>.col>.brush_on{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 302px;
		max-width: 100vw;
		height: 403px;
		left: 0px;
		z-index: 9;
	}
	.saved_dsns>.col>.brush_on>.desn_contner {
		position: absolute;
		top: 26%;
		right: 26%;
		width: 150px;
		height: 150px;
		/*border: 1px dashed #b00;*/
	}
	.show_more_but {
		position: relative;
		overflow: hidden;
		margin-top: 70%;
		-webkit-transform: translateY(-50%);
	      -moz-transform: translateY(-50%);
	      -ms-transform: translateY(-50%);
	      -o-transform: translateY(-50%);
	      transform: translateY(-50%);
		transform: translateY(-50%);
	}

/* Oder table */
	.order_table>tr>td>.col{
		position: relative !important; 
		overflow: hidden !important;
		/*margin-top: 10px; */
	}
	.order_table .canv_item {
		width: 75.5px;
		height: 100px;
		z-index: 1;
	}
	.order_table .canv_item img{
		position: absolute;
		width: 75.5px;
		left: 0px;		
		background-color: rgba(255, 255, 255, 0.65);
	}
	.order_table>tr>td>.col>.brush_on{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 75.5px;
		height: 100px;
		left: 0px;
		z-index: 9;
	}
	.order_table>tr>td>.col>.brush_on>.desn_contner {
		position: absolute;
		top: 26%;
		right: 26%;
		width: 37.5px;
		height: 37.5px;
		/*border: 1px dashed #b00;*/
	}
	.order_table>tr>td>.col .shirt_col_samp {
		display: inline-table;
		margin: 5px;
		height: 12px;
		width: 12px;
		background-color: #0f0;
		border-radius: 7px;
		border: 2px solid #f5f5f5;
	}

/* Mobile adjust */
	@media only screen and (max-width : 992px) {
		.dy_page:not(#desn_studio) {
			margin-left: 0px;
		}
		table.responsive-table th:first-child {
			height: 131px;
		}
		#order_checkout table.responsive-table th:nth-child(3) {
			height: 66px;
		}
		#order_checkout table.responsive-table th:nth-child(4) {
			height: 60px;
		}
		table.responsive-table td:first-child {
			overflow-y: hidden;
		}
	}
	@media only screen and (max-width : 600px) {	  
		/*table.responsive-table th:first-child {
			height: 323px;
		}*/
		table.responsive-table td:first-child {
			overflow-y: hidden;
		}
		.toast {
			line-height: 23px;
		}
		.toast {
			line-height: 23px;
		}
		.toast a{
			padding: 0px;
		}
	}