.slider .indicators .indicator-item {
	background-color: #909090;
}
.slider .indicators .indicator-item.active{
	background-color: #fff;
}
.col img {
	width: 70%;
}
.shirt_canv {
	width: 300px;
	height: 400px; 
	overflow: hidden;
	white-space: nowrap;
	background: transparent;
	z-index: 1;
}
.bg_shirt {
	z-index: 0;
}
.dropdown-content li {
	line-height: 0rem;
}
.design_element {
	padding: 10px;
	background: transparent;
	border: 3px dashed rgba(245, 25, 45, 0.55);
}
.alt_opt {
	width: 50px;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;	
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.shirt_l .alt_opt {	 
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: auto 50px;
}
.alt_list {
	display: inline-block;
	width: 100%; 
	min-height: 80px;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
}
.alt_opt img{
	width: auto;
	height: 100%;
}
.color_pal {
	width: 100%; 
	margin-bottom: 20px;
	min-height: 30px;
	padding: 50px;
}
.color_pal div{
	width: 21px;
	height: 21px;
	border: 0.1px dashed #000;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	white-space: normal;
}

.up_ic {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.section {
	position: relative;
}
.slider .indicators {
	z-index: 9;
}
.slider .indicators .indicator-item {
	height: 10px;
	width: 10px;	
}
.slider#home {
	height: calc(100vh - 96px);
}
.slider#home .slides {
	height: calc(100vh - 96px);
}
.sh_col img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 400px;
}

@media only screen and (max-width : 992px) {
	.slider#home {
		height: calc(100vh - 86px);
	}
	.slider#home .slides {
		height: calc(100vh - 86px);
	}
}