#login_nav_bar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 36px;
	z-index: 9;
}
#login_nav_bar>span {
	margin-right: 20px;
	font-size: 20px;
}
.side_icons {
	font-size: 8rem;
	margin-top: -21px;
}
#page_1>.row:nth-child(1)>.col {
	margin-top: 20px;
}
#page_1>.row:nth-child(2)>.col {
	position: relative;
	height: 200px;
}
#look_book .loobbook_imgs>div.col {
	padding: 0px 2px;
}
#look_book .row img {
	width: 100%;
}
#sidenav-overlay {
	z-index: 1 !important;
}
#landing_title {
	position: absolute;
	top: 180px;
	left: 90px;	
}
#landing_title>h2 {
	font-size: 60px;
}
#landing_text {
	font-size: 18px;
}
#landing_buttons {
	position: absolute;
	bottom: 0px;
	left: 120px;
	right: 40px;
	padding: 60px 0px;
}
#landing_buttons a.btn:nth-child(2) {
	float: right;
}
#comments_pane {
	padding: 50px 20px;
}
#user_comments>div.col {
	padding: 30px;
	text-align: left;
}
#user_comments>div.col>span {
	font-size: 16px;
}
#landing_top_img>img {
	height: 0px;
	-webkit-transition: all 2000ms cubic-bezier(.68,-0.55,.27,1.55) 1s !important;
       -moz-transition: all 2000ms cubic-bezier(.68,-0.55,.27,1.55) 1s !important;
        -ms-transition: all 2000ms cubic-bezier(.68,-0.55,.27,1.55) 1s !important;
         -o-transition: all 2000ms cubic-bezier(.68,-0.55,.27,1.55) 1s !important;
            transition: all 2000ms cubic-bezier(.68,-0.55,.27,1.55) 1s !important;
}
.current {
	height: 90vh !important; 
	margin-top: 10vh !important;
}
/* About */
	#about_us h4 {
		display: table;
		border-bottom: 4px solid #D2D2D2;
		line-height: 50px;
	}
	#about_team img {
		max-width: 213px;
	}
	#about_team .col {
		padding-bottom: 50px;
	}
/* Blog */
	#blogs>.col {
		position: relative;
		min-height: 300px;
		padding: 0px;
		background-size: 100% auto;
	}
	#blogs>.col.white {
		padding: 12px;
	}
	#blogs>.col>.blog_text {
		position: relative;
		height: 140px;
		overflow: hidden;
		padding-bottom: 40px;
	}
	.m6 .fade{
		display: block;
		position: absolute;
		bottom: 0px;
		right: 0px;
		left: 0px;
		height: 21px;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
	}
	.ankles {
		position: absolute; 
		top: 50%; 
		width: 0;
		height: 0;
		border-top: 10px solid transparent; 
		border-bottom: 10px solid transparent;
		z-index: 2;
	}
	#blogs>.col.white:nth-child(even)>.ankles{
		border-right:10px solid #fff;
		left: -10px;
	}
	#blogs>.col.white:nth-child(odd)>.ankles{
		border-left:10px solid #fff;
		right: -10px;
	}
	#blogs .video-container {
		min-height: 300px;
		height: 100%;
	}
@media only screen and (max-width : 992px) {	
	.side_icons {
		font-size: 4.5rem;
		margin-top: 0px;
	}
	#landing_title {
		position: absolute;
		top: 80px;
		left: 0px;	
	}
	#landing_title>h2 {
		font-size: 50px;
	}
	#landing_text {
		font-size: 18px;
	}
	#landing_buttons {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 40px;
		padding: 30px 0px;
	}
	#landing_buttons a.btn {
		box-shadow: none;
		border: 1px solid rgba(158, 158, 158, 0.5);
		min-width: 160px;
		height: 56px;
		margin-top: 20px;		
	}
}
@media only screen and (max-width : 600px) {
	#landing_title {
		position: absolute;
		top: 70px;
		left: 0px;	
	}
	#landing_title>h2 {
		font-size: 40px;
	}	
	#landing_text {
		font-size: 14px;
	}
	#landing_buttons {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 4px;
		padding: 30px 0px;
	}
	#landing_buttons a.btn {
		box-shadow: none;
		border: 1px solid rgba(158, 158, 158, 0.5);
		min-width: 160px;
		height: 56px;
		margin-top: 20px;		
	}
}
@media only screen and (max-width : 360px) {
	#landing_title>h2 {
		font-size: 40px;
	}
	#landing_buttons a.btn {
		position: relative;
      	left: calc(41% - 80px);
    }
    #landing_buttons a.btn:nth-child(2) {
		float: none;
	}
}
@media only screen and (max-width : 320px) {
	#landing_title>h2 {
		font-size: 35px;
	}
	#landing_buttons a.btn {
		position: relative;
      	left: calc(41% - 80px);
    }
    #landing_buttons a.btn:nth-child(2) {
		float: none;
	}
}